{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1 class="text-center">PhoneStore</h1>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="media/images/Samsung-s10.png" alt="Samsung s10" style="width:100%;">
      </div>
      <div class="item">
        <img src="media/images/Iphone11.png" alt="iPhone 11" style="width:100%;">
      </div>
      <div class="item">
        <img src="media/images/Huawei-p30.png" alt="Huawei p30" style="width:100%;">
      </div>
      <div class="item">
        <img src="media/images/iphone_xr.png" alt="iPhone XR" style="width:100%;">
      </div>
      <div class="item">
        <img src="media/images/NOKIA-7.png" alt="Nokia 7" style="width:100%;">
      </div>
      <div class="item">
        <img src="media/images/google_pixel4.png" alt="Google Pixel 4" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<h2 class="text-center">Best Sellers</h2>
<!-- Products -->
<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>

                <form method="post" action="{% url 'details' product.id %}">
                    {% csrf_token %}
                    <div class="center">
                        <button class="btn btn-warning btn-sm" type="submit">More details</button>
                    </div>
                </form>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}